/*.txt

*.exe
*.dll
*.ini
*.bin
*.cfg
externalScripts/
Common/


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

sample.lua
test.lua
script_gui.lua
script_loader.lua
difftool.bat
extrasettings
ward_circles.lua
smart_wards.lua
showskillshots.lua
.buildpath
hotkeys/hotkey1.txt
hotkeys/hotkey1.txt
system.log
yprediction_sample.lua
yayo_sample.lua
yupdate.py
basic_functions.lua
utils.lua
yayo_simple.lua